.fixed-floating-nav {
  text-align: center;
  line-height: 110px;
  height: 110px;
}

.fixed-floating-nav-bar {
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 30px;
  background-color: $color_bg;
}

.fixed-floating-nav-bar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.fixed-floating-nav-item {
  display: inline-block;

  >a {
    font-size: 19px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
  }

  >a:hover {
    color: $color_active;
    cursor: pointer;
  }

  &:after {
    content: "";
    vertical-align: middle;
    background: url('./images/dot-dc0031.png') repeat-x center;
    margin:0 10px;
    display: inline-block;
    width: 65px;
    height: 20px;
  }
}

.fixed-floating-nav-item-active {
  color: $color_active;
}

.fixed-floating-nav-item-last {
  &:after {
    content: "";
    width: 0;
    margin: 0;
  }
}
